{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test Streaming</title>

        <link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}">

        <script src="{% static 'mainapp/js/lib/jquery-3.2.1.min.js' %}"></script>
    </head>
    <body>
        <h1>Streaming container</h1>
        <br/>

        <button class="shrink">Shrink</button>
        <div id="streamcontainer">
            <video id="videoobject" class="main" src="" controls autoplay muted></video>

        </div>

        <video class="sidebar" src="" autoplay muted></video>

        <button class="shrink">Shrink</button>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <h1>Bottom</h1>

        <script src="{% static 'mainapp/js/app.js' %}"></script>
    </body>
</html>
