
#streamcontainer {
    position: relative;
    border: 1px solid red;
    left: 60px;
    width: 640px;
    height: 480px;
    background: gray;
}



video.main {
    width: 640px;
    height: 480px;
}

video.sidebar {
    position: fixed;
    float: right;
    right: 20px;
    top: 20px;
    width: 640px;
    height: 480px;
}

.shrink {
    font-size: 16pt;
    padding: 0.2em;
}
